<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <br>
  <ion-button (click)="echo()" expand="block" shape="round">
    Echo
  </ion-button>
  <p>{{echoVal}}</p>
  <br> -->

  <ion-button (click)="launchMap()" expand="block" shape="round">
    Launch map
  </ion-button>

  <!-- <ion-button (click)="testCrash()" expand="block" shape="round">
    Test crash
  </ion-button> -->

  <br>

</ion-content>
